/* Global Rules */

:root {
    --main-color: #2196f3;
    --secondary-color: #666;
    --border-color: #e6e6e7;
    --background-color: #ECECEC;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Component */

.pd-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

.box-header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.box-header-title {
    text-transform: uppercase;
    border: 2px solid #000;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.box-header-title:hover {
    color: #fff;
    border-color: var(--main-color);
    transition-delay: .5s;
}

.box-header-title::before,
.box-header-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.box-header-title::before {
    left: -30px;
}

.box-header-title::after {
    right: -30px;
}

.box-header-title:hover::before {
    z-index: -1;
    animation: left-move .5s linear forwards;
}

.box-header-title:hover::after {
    z-index: -1;
    animation: right-move .5s linear forwards;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 1;
}

/* Header */

.header {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .container .logo {
    height: 72px;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .header .container {
        flex-direction: column;
    }

    .header .container .logo {
        height: 50px;
        margin: auto;
    }
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
}

.header .navbar-items {
    display: flex;
    text-transform: capitalize;
}

.header .navbar-items>li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #000;
    height: 72px;
    padding: 0 30px;
    position: relative;
    transition: background-color.5s, color.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .header .navbar-items>li a {
        padding: 0 15px;
        height: 40px;
        font-size: 14px;
    }
}

.header .navbar-items>li a:hover {
    background-color: #FAFAFA;
    color: var(--main-color);
}

.header .navbar-items>li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    transition: width.5s;
}

.header .navbar-items>li a:hover::before {
    width: 100%;
}

.header .navbar-items>li:hover .mega-menu {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}

/* Mega menu */

.header .navbar-items .mega-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    background-color: #fff;
    z-index: 99;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility.5s, opacity.5s, top.5s;
}

@media (max-width: 767px) {
    .header .navbar-items .mega-menu {
        padding: 5px;
    }
}

.mega-menu .img {
    flex: 1;
}

@media (max-width: 991px) {
    .mega-menu .img {
        display: none;
    }
}

.mega-menu .img img {
    width: 100%;
}

.mega-menu .menu-lists {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 40px;
}

@media (max-width: 767px) {
    .mega-menu .menu-lists {
        flex-direction: column;
        gap: 0;
    }
}

.mega-menu .menu-lists ul {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.mega-menu .menu-lists ul {
    flex: 1;
}

.mega-menu .menu-lists ul li {
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.mega-menu .menu-lists ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .mega-menu .menu-lists ul:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.mega-menu .menu-lists ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FAFAFA;
    z-index: -1;
    transition: width.5s;
}

.mega-menu .menu-lists ul li:hover::before {
    width: 100%;
}

.mega-menu .menu-lists ul li svg {
    margin-right: 10px;
}

/* Landing */

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-color: #ECECEC;
    top: -30px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
    position: relative;
}

.landing-text {
    width: 45%;
    line-height: 1.6;
}

@media (max-width: 991px) {
    .landing-text {
        width: 100%;
        text-align: center;
        padding: 0 60px;
    }
}

.landing-text-title {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
}

.landing-text-desc {
    font-size: 23px;
    color: var(--secondary-color);
}

@media (max-width: 772px) {
    .landing-text {
        padding: 0;
    }

    .landing-text-title {
        font-size: 28px;
    }

    .landing-text-desc {
        font-size: 18px;
    }
}

.landing .container img {
    width: 53%;
    animation: landing-img 2s infinite linear alternate;
    padding-bottom: 60px;
}

@media (max-width: 991px) {
    .landing .container img {
        display: none;
    }
}

.landing .icon {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: icon-down 1.5s infinite linear;
}

/* Articles */

.articles .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 40px;
}

.articles .cards-container .card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform .5s, box-shadow .5s;
    background-color: #fff;
}

.articles .cards-container .card:hover {
    transform: translateY(-12px);
    box-shadow: rgba(99, 99, 99, 0.3) 0px 3px 12px 0px;
}

.articles .cards-container .card img {
    max-width: 100%;
}

.articles .cards-container .card-desc {
    padding: 20px;
}

.articles .cards-container .card-desc-title {
    margin-bottom: 12px;
}

.articles .cards-container .card-desc-info {
    line-height: 1.5;
    color: var(--secondary-color);
}

.articles .cards-container .card .card-btn {
    padding: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.articles .cards-container .card .card-btn a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .cards-container .card .card-btn svg {
    font-size: 14px;
    color: var(--main-color);
}

.articles .cards-container .card:hover .card-btn svg {
    animation: svg-right-arrow .6s infinite linear;
}

/* Gallery */

.gallery {
    background-color: var(--background-color);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery-container .gallery-image {
    border: 15px solid #fff;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    position: relative;
}

.gallery-container .gallery-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
}

.gallery-container .gallery-image:hover::before {
    z-index: 1;
    animation: flashing .5s;
}

.gallery-container .gallery-image img {
    width: 100%;
    transition: transform .5s;
}

.gallery-container .gallery-image:hover img {
    transform: scale(1.1) rotate(5deg);
}


/* Features */

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features-container .card {
    text-align: center;
    border: 1px solid #ccc;
}

.features-container .card:hover .card-text .card-text-btn {
    color: #fff;
}

.features-container .card:hover .card-text-btn::before {
    width: 100%;
}

.features-container .card .img-overlay {
    position: relative;
    overflow: hidden;
}

.features-container .card .img-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features-container .card .img-overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 150px 372px;
    border-color: transparent transparent #fff transparent;
    transition: border-width .3s;
}

@media (max-width: 687px) {
    .features-container .card .img-overlay::after {
        border: none;
    }
}

.features-container .card:hover .img-overlay::after {
    border-width: 0 372px 150px 0;
}

.features-container .card.quality .img-overlay::before {
    background-color: rgba(244, 61, 52, 0.5);
}

.features-container .card.time .img-overlay::before {
    background-color: rgb(0, 150, 136, 0.5);
}

.features-container .card.passion .img-overlay::before {
    background-color: rgb(3, 169, 244, 0.5);
}

.features-container .card .img-overlay img {
    width: 100%;
}

.features-container .card-text {
    padding: 30px;
}

.features-container .card-text-title {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}

.features-container .card-text-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 75%;
}

.features-container .card.quality .card-text-title::after {
    background-color: #F44036;
}

.features-container .card.time .card-text-title::after {
    background-color: #009688;
}

.features-container .card.card.passion .card-text-title::after {
    background-color: #03a9f4;
}

.features-container .card-text-desc {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 2;
    margin: 50px 0;
}

.features-container .card-text-btn {
    background-color: transparent;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: color .3s;
}

.features-container .card.quality .card-text-btn {
    color: #F44036;
    border: 3px solid #F44036;
}

.features-container .card.time .card-text-btn {
    color: #009688;
    border: 3px solid #009688;
}

.features-container .card.passion .card-text-btn {
    color: #03a9f4;
    border: 3px solid #03a9f4;
}

.features-container .card-text-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: width .3s;
    z-index: -1;
}

.features-container .card.quality .card-text-btn::before {
    background-color: #F44036;
}

.features-container .card.time .card-text-btn::before {
    background-color: #009688;
}

.features-container .card.passion .card-text-btn::before {
    background-color: #03a9f4;
}

/* Testimonials */

.testimonials {
    background-color: var(--background-color);
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials-container .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    position: relative;
    padding: 20px;
    border-radius: 6px;
}

.testimonials-container .card img {
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--background-color);
}

.testimonials-container .card .subtitle {
    margin: 10px 0;
    color: var(--secondary-color);
}

.testimonials-container .card .stars svg:not(.non-fill) {
    color: #FFC107;
}

.testimonials-container .card .desc {
    margin-top: 10px;
    color: var(--secondary-color);
    line-height: 1.5;
}

/* Team */

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team-container .card {
    position: relative;
}

.team-container .card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    height: 100%;
    background-color: #F3F3F3;
    z-index: -1;
    border-radius: 10px;
}

.team-container .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #E4E4E4;
    z-index: -1;
    border-radius: 10px;
    transition: width .5s;
}

.team-container .card:hover::after {
    width: calc(100% - 60px);
}

.team-container .card .image-holder {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-container .card .image-holder img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: filter .5s;
}

.team-container .card:hover .image-holder img {
    filter: grayscale(100%);
}

.team-container .card .image-holder .social-icons {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container .card .image-holder .social-icons svg {
    color: #777;
    padding: 15px;
    cursor: pointer;
    transition: color .5s;
}

.team-container .card .image-holder .social-icons svg:hover {
    color: var(--main-color);
}

.team-container .card .title {
    font-size: 22px;
    color: var(--main-color);
    margin: 20px 0 10px 80px;
    transition: color .5s;
}


.team-container .card:hover .title {
    color: #777;
}

.team-container .card .desc {
    margin-left: 80px;
    margin-bottom: 20px;
}

/* Services */

.services {
    background-color: var(--background-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services-container .card {
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform .5s;
    position: relative;
    counter-increment: cards;
}

.services-container .card:hover {
    transform: translateY(-10px);
}

.services-container .card::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: width .5s;
}

.services-container .card:hover::before {
    width: 100%;
}

.services-container .card svg {
    color: #D5D5D5;
    margin: 35px 0 20px;
}

.services-container .card .title {
    color: var(--main-color);
    margin-bottom: 40px;
    font-size: 25px;
}

.services-container .card .info {
    position: relative;
    text-align: right;
    padding: 15px;
    background-color: #F9F9F9;
    overflow: hidden;
}

.services-container .card .info::before {
    content: "0" counter(cards);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90px;
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.services-container .card .info::after {
    content: "";
    position: absolute;
    left: 74px;
    top: 0;
    height: 103%;
    width: 50px;
    background-color: #D5D5D5;
    transform: skew(-30deg);
}

.services-container .card .info a {
    color: var(--main-color);
}

/* Skills */

.skills-container {
    display: flex;
    align-items: center;
}

.skills-container img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .skills-container img {
        display: none;
    }
}

.skills-container .my-skills {
    flex: 1;
}

.skills-container .my-skills .progress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #eee;
    margin: 20px 0;
}

.skills-container .my-skills .progress .progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width .5s;
}

.skills-container .my-skills .progress::after {
    content: attr(data-prog);
    position: absolute;
    right: 0;
    top: -40px;
    font-size: 12px;
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 5px;
}

/* Work Steps */

.work-steps {
    background-color: var(--background-color);
}

.work-steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

@media (max-width: 991px) {
    .work-steps-container {
        flex-direction: column;
        gap: 50px;
    }
}

.work-steps-container img {
    max-width: 100%;
}

.work-steps-container .card {
    display: flex;
    align-items: center;
    background-color: #F6F5F5;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .work-steps-container .card {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps-container .card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: #EDEDED;
    transition: height .3s, width .3s;
    z-index: -1;
}

.work-steps-container .card:hover::before {
    height: 100%;
    width: 100%;
}

.work-steps-container .card img {
    width: 65px;
    height: 65px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .work-steps-container .card img {
        margin: 0 0 30px;
    }
}

.work-steps-container .card .info .title {
    font-size: 22px;
    margin-bottom: 15px;
}

.work-steps-container .card .info .desc {
    font-size: 18px;
    color: #777;
    line-height: 1.7;
}

/* Latest Event */

.latest-events {
    position: relative;
}

.latest-events .dots-1,
.latest-events .dots-2 {
    position: absolute;
    background-image: url(../images/dots.png);
    width: 205px;
    height: 205px;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {

    .latest-events .dots-1,
    .latest-events .dots-2 {
        display: none;
    }
}

.latest-events .dots-1 {
    top: 200px;
    right: 0;
}

.latest-events .dots-2 {
    bottom: 140px;
    left: 0;
}

.latest-events-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.latest-events-container .img-holder {
    flex: 1;
}

@media (max-width: 991px) {
    .latest-events-container .img-holder {
        display: none;
    }
}

.latest-events-container .img-holder img {
    width: 450px;
}

.latest-events-container .box {
    flex: 2;
    text-align: center;
}

.latest-events-container .box .counters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.latest-events-container .box .counters .counter {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    transition: border-color .5s;
}

.latest-events-container .box .counters .counter:hover {
    border-color: var(--main-color);
}

.latest-events-container .box .counters .counter div {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 20px 15px;
}

.latest-events-container .box .counters .counter span {
    font-size: 13px;
    display: block;
    padding: 10px 0;
    border-top: 1px solid #d4d4d4;
    transition: border-color .5s;
}

.latest-events-container .box .counters .counter:hover span {
    border-color: var(--main-color);
}

.box-desc {
    color: var(--secondary-color);
    font-size: 19px;
    line-height: 1.8;
}

.latest-events .subscribe {
    background-color: #F6F5F5;
    padding: 25px;
    width: fit-content;
    margin: 60px auto 0;
    border-radius: 50px;
}

@media (max-width: 767px) {
    .latest-events .subscribe {
        border-radius: 0;
        width: 100%;
    }
}

.latest-events .subscribe #subscribe-email {
    padding: 20px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    margin-right: 20px;
    width: 400px;
    caret-color: var(--main-color);
}


@media (max-width: 767px) {
    .latest-events .subscribe #subscribe-email {
        border-radius: 0;
        width: 100%;
    }
}

.latest-events .subscribe #subscribe-email::placeholder {
    transition: opacity .3s;
}

.latest-events .subscribe #subscribe-email:focus::placeholder {
    opacity: 0;
}

.latest-events .subscribe #subscribe-btn {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50px;
    font-weight: bold;
    padding: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 767px) {
    .latest-events .subscribe #subscribe-btn {
        border-radius: 0;
        width: 100%;
        margin-top: 20px;
    }
}

.latest-events .subscribe #subscribe-btn:hover {
    opacity: .8;
}

/* Pricing */

.pricing {
    background-color: var(--background-color);
    position: relative;
}

.pricing .dots-1,
.pricing .dots-2 {
    position: absolute;
    background-image: url(../images/dots.png);
    width: 205px;
    height: 205px;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {

    .pricing .dots-1,
    .pricing .dots-2 {
        display: none;
    }
}

.pricing .dots-1 {
    top: 200px;
    right: 0;
}

.pricing .dots-2 {
    bottom: 140px;
    left: 0;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing-container .card {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    position: relative;
    z-index: 1;
}



@media (min-width: 1200px) {
    .pricing-container .card:nth-child(2) {
        transform: translateY(-10px);
    }
}

.pricing-container .card .label {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 35px 10px;
    width: 40px;
    writing-mode: vertical-rl;
}

.pricing-container .card .label::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transition: border-bottom-color .5s;
}

.pricing-container .card:hover .label::before {
    border-bottom-color: #F6F6F6;
}

.pricing-container .card::before,
.pricing-container .card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #F6F6F6;
    z-index: -1;
    transition: width .5s;
}

.pricing-container .card::before {
    top: 0;
    left: 0;
}

.pricing-container .card::after {
    bottom: 0;
    right: 0;
}

.pricing-container .card:hover::before,
.pricing-container .card:hover::after {
    width: 100%;
}

.pricing-container .card .title {
    font-size: 25px;
    margin-top: 30px;
}

.pricing-container .card img {
    width: 80px;
    height: 80px;
    margin: 30px 0;
}


.pricing-container .card .price {
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing-container .card .dur {
    color: var(--secondary-color);
    display: block;
    margin: 5px 0 15px;
}

.pricing-container .card .advantages {
    text-align: left;
}

.pricing-container .card .advantages li {
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    position: relative;
}

.pricing-container .card .advantages li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    font-size: 18px;
    margin-left: 20px;
    margin-right: 10px;
}

.pricing-container .card .choose-btn {
    color: var(--main-color);
    padding: 14px 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    background-color: transparent;
    font-weight: bold;
    margin: 40px 0;
    cursor: pointer;
    transition: color .5s, background-color .5s;
}

.pricing-container .card .choose-btn:hover {
    color: #fff;
    background-color: var(--main-color);
}

/* Top Videos */

.top-video-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E2E2E2;
}

@media (max-width: 991px) {
    .top-video-container {
        flex-direction: column;
    }
}

.top-video-container .left-side {
    flex: 1;
    min-width: 300px
}

.top-video-container .left-side .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4F4F4;
}

.top-video-container .left-side .desc {
    padding: 12px 20px;
    line-height: 2;
    cursor: pointer;
    transition: background-color .5s;
    border-top: 1px solid #E2E2E2;
}

.top-video-container .left-side .desc:hover {
    background-color: #FAFAFA;
}

.top-video-container .left-side .desc p {
    transition: color .5s;
}

.top-video-container .left-side .desc:hover p {
    color: var(--main-color);
}

.top-video-container .left-side .desc span {
    color: #777;
}

.top-video-container .right-side {
    flex: 3;
    background-color: #E2E2E2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-video-container .right-side img {
    max-width: 100%;
}

.top-video-container .right-side .desc {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

/* Stats */

.stats {
    background-image: url(../images/stats.jpg);
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats-container {
    text-align: center;
}

.stats-container .title {
    font-size: 40px;
    margin: 0 0 50px;
    position: relative;
}

.stats-container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats-container .boxes .box {
    background-color: #fff;
    color: #303132;
    padding: 25px 0;
    opacity: .9;
    position: relative;
    transition: opacity .5s;
}

.stats-container .boxes .box:hover {
    opacity: 1;
}

.stats-container .boxes .box::before,
.stats-container .boxes .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    transition: height 1s;
    background-color: var(--main-color);
}

.stats-container .boxes .box::before {
    bottom: 0;
    left: 0;
}

.stats-container .boxes .box::after {
    top: 0;
    right: 0;
}

.stats-container .boxes .box:hover::before,
.stats-container .boxes .box:hover::after {
    height: 100%;
}

.stats-container .boxes .box svg {
    font-size: 33px;
}

.stats-container .boxes .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.stats-container .boxes .box:hover svg,
.stats-container .boxes .box:hover .number,
.stats-container .boxes .box:hover .subtitle {
    opacity: 1;
}

.stats-container .boxes .box .subtitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    font-style: italic;
}

.stats-container .boxes .box svg,
.stats-container .boxes .box .number,
.stats-container .boxes .box .subtitle {
    transition: opacity .5s;
}

/* Discount */

.discount {
    min-height: 100vh;
}

.discount-container {
    display: flex;
    flex-wrap: wrap;
}

.discount-container .left {
    flex-basis: 50%;
    text-align: center;
    background-size: cover;
    animation: discount-background 5s infinite linear alternate;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .discount-container .left {
        flex-basis: 100%;
    }
}

.discount-container .left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount-container .left .title {
    color: #fff;
    font-size: 40px;
    margin: 70px 0 0;
    letter-spacing: -2px;
}

.discount-container .left .desc {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin: 30px auto 15px;
}

.discount-container .left img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.discount-container .right {
    flex-basis: 50%;
    text-align: center;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .discount-container .right {
        flex-basis: 100%;
    }
}

.discount-container .right .title {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount-container .right form input,
.discount-container .right form textarea {
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    border: 0;
    outline: 0;
    background-color: #F9F9F9;
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
}

.discount-container .right form textarea {
    resize: none;
    height: 200px;
}

.discount-container .right form input[type="submit"] {
    cursor: pointer;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: opacity .5s;
}

.discount-container .right form input[type="submit"]:hover {
    opacity: .9;
}

/* Footer */

.footer {
    background-color: #191919;
    color: #b9b9b9;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media (max-width: 767px) {
    .footer-container {
        text-align: center;
    }
}

.footer-container .infos .logo {
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.footer-container .infos span {
    width: 50px;
    height: 50px;
    background-color: #313131;
    margin: 20px 7px 20px 0;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color .5s, color .5s;
}

.footer-container .infos span.facebook:hover {
    background-color: #1877F2;
    color: #fff;
}

.footer-container .infos span.twitter:hover {
    background-color: #1DA1F2;
    color: #fff;
}

.footer-container .infos span.youtube:hover {
    background-color: #FF0000;
    color: #fff;
}

.footer-container .infos .desc {
    line-height: 1.8;
}

.footer-container .links li {
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    transition: margin-left .5s, color .5s;
}

.footer-container .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer-container .links li:hover {
    margin-left: 10px;
    color: #fff;
}

.footer-container .links li::before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}

.footer-container .address .line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .footer-container .address .line {
        flex-direction: column;
    }
}

.footer-container .address .line svg {
    color: var(--main-color);
    margin-right: 15px;
}

@media (max-width: 767px) {
    .footer-container .address .line svg {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

.footer-container .address .line span {
    line-height: 1.8;
}

.footer-container .small-gallery img {
    width: 78px;
    height: 78px;
    border: 3px solid #fff;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid #444;
    text-align: center;
    color: #fff;
}

/* Animation */

@keyframes landing-img {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10%);
    }
}

@keyframes icon-down {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 102%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 51%;
        height: 102%;
    }
}

@keyframes svg-right-arrow {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes discount-background {
    0% {
        background-image: url(../images/discount-background1.jpg);
    }

    100% {
        background-image: url(../images/discount-background2.jpg);
    }
}

/* Scroll To Top */

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    transition: opacity .5s, margin-bottom 1s;
    margin-bottom: -100%;
}

.scroll-top:hover {
    opacity: .8;
}

.scroll-top svg {
    font-size: 20px;
}