/* Global Rules */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --transition-dur: .5s;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.pd-y {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Header */

.header {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .container .logo {
    height: 72px;
    display: flex;
    align-items: center;
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
}

.header .navbar-items {
    display: flex;
    text-transform: capitalize;
}

.header .navbar-items li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    color: #000;
    height: 72px;
    padding: 0 30px;
    position: relative;
    transition: background-color var(--transition-dur), color var(--transition-dur);
}

.header .navbar-items li a:hover {
    background-color: #FAFAFA;
    color: var(--main-color);
}

.header .navbar-items li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    transition: width var(--transition-dur);
}

.header .navbar-items li a:hover::before {
    width: 100%;
}